.bg {background: #1d1515;
    background: linear-gradient(160deg,#1d1515 0%, #21558b 80%);
    background: -webkit-linear-gradient(160deg,#1d1515 0%, #21558b 80%);
    background: -moz-linear-gradient(160deg,#1d1515 0%, #21558b 80%);}